.flip {
    width: 300px;
    height: 300px;   
    text-align: center;
    perspective: 1000px;  
  }
  .flip-content {
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    transform-style: preserve-3d;
  }
  .flip:hover .flip-content {
    transform: rotateY(180deg);
    transition: transform 0.3s;
  }

  .flip-front, .flip-back {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 300px;
    backface-visibility: hidden;  
    color: #black;  
    background-color: white;
    border: 6px solid black;
    box-shadow: 6px 6px black;
  }
  .flip-back {
    transform: rotateY(180deg);
    border: 6px solid black;
    box-shadow: 6px 6px black;
  }