.wrapper{
    max-height: 100px;
    border: 1px solid black;
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
    width: 0;
}

.wrapper .item{
    min-width:450px;
    height:90px;
    line-height: 90px;
    text-align: center;
    background-color: black;
    color: white;
    margin-right: 2px;
}