.wrapperFood{
    max-height: 100px;
    display: flex;
    overflow-x: auto;
    margin-left: 47px;
    margin-right: 47px;
}

.wrapperFood::-webkit-scrollbar{
    width: 0;
}

.wrapperFood .item{
    min-width:450px;
    height:90px;
    line-height: 90px;
    text-align: center;
    background-color: white;
    color: black;
    text-decoration: underline;
}

.wrapperDrinks{
    max-height: 100px;
    display: flex;
    overflow-x: auto;
    margin-left: 47px;
    margin-right: 47px;
}

.wrapperDrinks::-webkit-scrollbar{
    width: 0;
}

.wrapperDrinks .item{
    min-width:450px;
    height:90px;
    line-height: 90px;
    text-align: center;
    background-color: white;
    color: black;
    text-decoration: underline;
}

.wrapperHappyHour{
    max-height: 100px;
    display: flex;
    overflow-x: auto;
    margin-left: 47px;
    margin-right: 47px;
}

.wrapperHappyHour::-webkit-scrollbar{
    width: 0;
}

.wrapperHappyHour .item{
    min-width:450px;
    height:90px;
    line-height: 90px;
    text-align: center;
    background-color: white;
    color: black;
    text-decoration: underline;
}