.wrapperImage{
    max-height: 300px;
    max-width: 800px;
    display: flex;
    overflow-x: auto;
    margin-left: 47px;
    margin-right: 47px;
}

.wrapperImage::-webkit-scrollbar{
    width: 0;
}

.wrapperImage .Img{
    min-width:550px;
    height:400px;
    line-height: 110px;
    text-align: center;
    background-color: white;
    color: black;
    margin-right: 5px;
}

#slides {
    height:400px;
    min-width:550px;
    display: block;
    margin: auto;
}

.slick-arrow {
    color: black;
}

.slick-prev {
    z-index: 100;
    left: 20px !important;
}

.slick-next {
    z-index: 100;
    right: 20px !important;
}
