.navbar-open{
    background-color: rgb(241, 245, 245);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    transform: translateX(0%);
    transition: 750ms;
    z-index: 1;
    overflow: auto
}